# Environment variables for the Visheart application
# Server configuration
HOST = localhost
PORT = 3000
NODE_ENV = development # Set to production when deploying to production

# MongoDB connection string
MONGODB_URI = mongodb://localhost:27017/visheart

# Secrets
SESSION_SECRET = your-session-secret-key
GPU_SERVER_AUTH_SECRET = your-gpu-server-auth-secret-key 

# CORS
CORS_ORIGIN = list-of-allowed-origins # e.g., http://localhost:5173, https://your-production-domain.com

# Default admin password
ADMIN_PASS = password-with-minimum-8-characters-and-at-least-1-number-and-1-special-character

# Redis (docker/aws elasticache/redis cloud)
REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_PASSWORD = your-redis-password
REDIS_USERNAME = default # usually 'default'
REDIS_CLOUD = false # Set to true if using Redis Cloud
REDIS_AWS = false # Set to true if using AWS ElastiCache

# S3 Bucket
STORAGE_MODE=s3/static # might be deprecated soon
# Development S3 bucket configuration
DEV_S3_BUCKET_NAME = your-s3-bucket-name
DEV_AWS_REGION = ap-southeast-1

# Production S3 bucket configuration
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_BUCKET_NAME=your-s3-bucket-name
AWS_REGION=ap-southeast-1

# Cloud GPU information
# Database GPU Configuration takes precedence
GPU_SERVER_HOST = url-of-your-gpu-server
GPU_SERVER_PORT = port-of-your-gpu-server
GPU_SERVER_SSL = false # Set to true if using SSL
# Cloud GPU authentication (node's credentials to access the GPU server)
SERVER_ID_FOR_GPU_SERVER = this-server-name-for-gpu-server-to-identify
GPU_SERVER_IDENTITY = the-name-of-the-gpu-server

CALLBACK_URL = https://your-domain-name:port/ # will append the callback endpoint in the code

RECONSTRUCTION_MESH_FORMAT=glb # options: obj, glb (recommended)

# Model-2 (Mamba UNet) segmentation
MODEL2_CHECKPOINT_PATH=C:/Users/CAT/Desktop/G4uv2.1/COS40005FYPA/cardiac-component-segmentation-ai/visheart-inference-gpu/app/models/unet.pth
MODEL2_DEVICE=auto # auto | cpu | cuda