# Model name - The models must be stored in the ./app/models directory
YOLO_MODEL_NAME=your_yolo_model.engine
MEDSAM_MODEL_NAME=your_medsam_model.pth
FOURD_RECONSTRUCTION_MODEL_NAME=your_4d_reconstruction_model.pth

# JWT variables
GPU_ACCESS_SECRET=your_gpu_access_secret
SERVER_USERNAME=your_server_username
ALLOWED_NODE_USERNAME=your_allowed_node_username

# Environment Type
ENV_TYPE=development
# ENV_TYPE=production

# Semaphore Count (How many concurrent gpu inferences can be processed)
GPU_SEMAPHORE_COUNT=2