__pycache__/
**/__pycache__/
app/scripts/test_results_folder/*
app/scripts/test*
app/models/*sam*
.env
.venv
.todo
.secrets

cardiac-component-segmentation-ai/visheart-inference-gpu/.venv311/
.venv311/
.venv/
venv/
mamba-unet-env/